<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <%= @blog_post.title %>
  </div>
  <div class="panel-body">
    <p>by <strong><%= link_to @blog_post.user.username, user_profile_path(id: @blog_post.user.id) %></strong> on <%= @blog_post.created_at.strftime('%b %e, %l:%M %p') %></p>
    <p><%= @blog_post.blog_entry %></p>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    Make A Comment
  </div>
  <div class="panel-body">
    <%= render 'comments/form' %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Comments</h4>
  </div>
  <% @blog_post.comments.each do |comment| %>
    <div class="panel-body">
      <p><strong><%= link_to comment.user.username, user_profile_path(id: comment.user.id) %></strong> said at <%= comment.created_at.strftime('%l:%M %p on %e %b %Y') %>: </p>
      <p><%= comment.comment_entry %></p>
    </div>
  <% end %>
</div>


<div>
  <%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
  <%= link_to 'Back', blog_posts_path %>
</div>
