<h1><%= @user.username %>'s Profile Page</h1>

<div class="">
  <p><strong>Name:</strong><%= @user.username %></p>
  <p><strong>Location:</strong> <%= @user.location %></p>
  <p><strong>Birthday:</strong><%= @user.birthday.strftime(' %b %d') %></p>
</div>

<div>
  <% @user.blog_posts.each do |blog_post| %>
    <div class="col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <%= link_to blog_post.title, blog_post %>
        </div>
        <div class="panel-body">
          <p>by <%= blog_post.user.username %> on <%= blog_post.created_at.strftime('%b %e, %l:%M %p') %></p>
          <p><%= blog_post.blog_entry[0..500] %>...[<%= link_to "READ MORE", blog_post %>]</p>
        </div>
        <% if current_user.id == blog_post.user.id %>
          <div class="panel-footer">
            <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-warning" %>
            <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
